<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="net.zehrer.no2.ui.views"
            name="NO2">
      </category>
      <view
            category="net.zehrer.no2.ui.views"
            class="net.zehrer.no2.ui.views.PackageView"
            icon="icons/sample.gif"
            id="net.zehrer.no2.ui.views.PackageView"
            name="Package View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
