<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://zehrer.net/test/generics"
            class="net.zehrer.test.generic.GenericPackage"
            genModel="model/generics.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://zehrer.net/test/lang"
            class="net.zehrer.test.lang.LangPackage"
            genModel="model/generics.genmodel"/>
   </extension>

</plugin>
